SourceGenerator/.vs
SourceGenerator/SourceGenerator/bin
SourceGenerator/SourceGenerator/obj
Unity/Logs
Unity/Library
Unity/Temp
Unity/UserSettings
Unity/*.sln
Unity/*.csproj
Unity/.vsconfig
Unity/Logs
Unity/Logs
Unity/obj
Unity/Logs
Unity/Logs/
Unity/.vs/Unity/CopilotIndices
Unity/.vs/Unity/FileContentIndex
Unity/.vs/Unity/v17
