SourceGenerator/.vs
SourceGenerator/SourceGenerator/bin
SourceGenerator/SourceGenerator/obj
Unity/Logs
Unity/Library
Unity/Temp
Unity/UserSettings
Unity/*.sln
Unity/*.csproj
Unity/.vsconfig
Unity/Logs
Unity/Logs
Unity/obj
Unity/Logs
Unity/Logs/
Unity/.vs/Unity/CopilotIndices
Unity/.vs/Unity/FileContentIndex
Unity/.vs/Unity/v17
Unity/Unity.slnx
Unity/.vs
Server/.vs
Server/FreeNet/.vs
Server/FreeNet/bin
Server/FreeNet/obj
Server/GameServer/.vs
Server/GameServer/bin
Server/GameServer/obj
